
@media (min-width: 800px) {
    body {
        padding-left: 60px;
    }
    .container {
        margin-left: unset;
    }
}

body {
    margin: 20px;
}

.container {
    width: 340px;
}

h1 {
    /* prevent header from wrapping */
    white-space: nowrap;
    margin-bottom: 20px;
}

.tab-pane {
    padding-top: 32px;
}

/*ref: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
* {
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}

a {
    text-decoration: none;
}



/* Home */

.tab-content #home {
    padding-top: 12px;
}

#board {
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Old versions of Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text;
}


/* High Scores */

#HighScores-Table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#HighScores-Table thead td {
    background-color: whitesmoke;
    font-weight: bold;
}

#HighScores-Table td {
    border: solid 1px lightgray;
    padding-left: 5px;
}


/* About */

.FRALogo {
    margin-bottom: 20px;
}